<div id="content-holder">
  <form [formGroup]="userAddressForm">
    <div id="form-holder">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Address</mat-label>
        <input matInput type="text" name="address" formControlName="address" spellcheck="false">
        @if (!userAddressForm.get('address')?.valid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <div id="button-holder">
    <button id="confirm-button" mat-raised-button color="primary" (click)="updateUserAddress()"
            [disabled]="!userAddressForm.valid">
      Confirm
    </button>
    <button id="cancel-button" mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>
<app-snack-bar />
