<div id="content-holder">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Old password</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>New password</mat-label>
    <input matInput>
  </mat-form-field>
  <div id="button-holder">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>
