<div id="content-holder">
  <form [formGroup]="userPasswordForm">
    <div id="form-holder">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Old password</mat-label>
        <input matInput type="password" name="oldPassword" formControlName="oldPassword" spellcheck="false">
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>New password</mat-label>
        <input matInput type="password" name="newPassword" formControlName="newPassword" spellcheck="false">
      </mat-form-field>
    </div>
  </form>
  <div id="button-holder">
    <button mat-raised-button color="primary" (click)="updateUserPassword()" [disabled]="!userPasswordForm.valid">
      Confirm
    </button>
    <button mat-raised-button type="reset" color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>
