<div id="content-holder">
  <form [formGroup]="userPasswordForm">
    <div id="form-holder">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Current password</mat-label>
        <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" name="currentPassword"
               formControlName="currentPassword" spellcheck="false">
        <button mat-icon-button color="primary" matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
                [attr.aria-label]="'Hide current password'" [attr.aria-pressed]="hideCurrentPassword">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (!userPasswordForm.get('currentPassword')?.valid) {
          <mat-error>{{getCurrentPasswordErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>New password</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" name="newPassword" formControlName="newPassword"
               spellcheck="false">
        <button mat-icon-button color="primary" matSuffix (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (!userPasswordForm.get('newPassword')?.valid) {
          <mat-error>{{getNewPasswordErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <div id="button-holder">
    <button mat-raised-button color="primary" (click)="updateUserPassword()" [disabled]="!userPasswordForm.valid">
      Confirm
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>
<app-snack-bar />
