<div class="frame">
  <div class="text-wrapper">
    {{accommodation_name}}
  </div>
  <div class="vertical-divider"></div>
  <div class="text-wrapper">
    {{guest_count}}
  </div>
  <div class="vertical-divider"></div>
  <div class="text-wrapper">
    {{start_date}} - {{end_date}}
  </div>
  <div class="vertical-divider"></div>
  <div class="text-wrapper">
    {{price}}
  </div>
  <div class="vertical-divider"></div>
  <div class="text-wrapper">
    {{status}}
  </div>
  <div class="vertical-divider"></div>
  <div class="text-wrapper">
    <button mat-raised-button color="primary">Cancel</button>
  </div>
</div>
