<div id="content-holder">
  <div id="inner-holder">
    <div id="header-holder">
      <div class="header-cell">Accommodation</div>
      <mat-divider vertical />
      <div class="header-cell">Number of guests</div>
      <mat-divider vertical />
      <div class="header-cell">From - To</div>
      <mat-divider vertical />
      <div class="header-cell">Price</div>
      <mat-divider vertical />
      <div class="header-cell">Reservee</div>
      <mat-divider vertical />
      <div class="header-cell">Number of reservations cancelled by reservee</div>
      <mat-divider vertical />
      <div class="header-cell">Action</div>
    </div>
    <div id="reservations-holder">
      <app-reservation-owner />
      <app-reservation-owner />
    </div>
  </div>
</div>
