.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-card {
  background-color: transparent;
  box-shadow: none;
  width: 800px;
  color: black;
  text-align: left;
  font: 1em "Rubik";
  @media (prefers-color-scheme: dark) {
    color: #FDF5EC;
  }
}

.bookie-quirky{
  padding-bottom: 5vh;
}

.create-header{
  justify-content: center;
}

.full-width {
  width: 100%;
}

.form-column {
  margin: 50px;
}

.combo-boxes {
  width: 100%;
  display: inline;
}

.create-forum {
  display: flex;
  align-items: center;
  justify-content: center;
}
