<div class="frame">
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="text-wrapper">{{accommodation.name}}</div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="imgholder"></div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="descframe">
    <div class="div Desc">
      <div class="div-wrapper"><div class="text-wrapper">Description</div></div>
      <div class="div-wrapper">
        <p class="text-wrapper">
          {{accommodation.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="descframe">
    <div class="div smalldiv">
      <div class="div-wrapper"><div class="text-wrapper">Average rating</div></div>
      <div class="div-wrapper">
        <div class="div-rating">
          <div class="stars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_half</mat-icon>
          </div>
          <div class="text-wrapper">4.5</div>
        </div>
      </div>
    </div>
    <div class="vertical-full-width-wrapper">
      <div class="vertical-divider"></div>
    </div>
    <div class="div smalldiv">
      <div class="div-wrapper"><div class="text-wrapper">Suited for {{accommodation.minimumGuests}} to {{accommodation.maximumGuests}} guests</div></div>
    </div>
    <div class="vertical-full-width-wrapper">
      <div class="vertical-divider"></div>
    </div>
    <div class="div smalldiv">
      <div class="div-wrapper"><div class="text-wrapper">Reservation cancellation deadline up to {{accommodation.reservationCancellationDeadline}} days after being accepted</div></div>
    </div>
    <div class="vertical-full-width-wrapper">
      <div class="vertical-divider"></div>
    </div>
    <div class="div smalldiv">
      <div class="div-wrapper"><div class="text-wrapper">Type</div></div>
      <div class="div-wrapper">
        <p class="p">
          {{accommodation.type}}
        </p>
      </div>
    </div>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="descframe">
    <div class="div DescPrice">
      <div class="div-wrapper"><div class="text-wrapper">Location</div></div>
      <div class="div-wrapper">
        <app-map [center]="mapCenter"></app-map>
      </div>
    </div>
    <div class="vertical-full-width-wrapper">
      <div class="vertical-divider"></div>
    </div>
    <div class="div DescPrice">
      <div class="div-wrapper"><div class="text-wrapper">Availability periods and pricing</div></div>
      <div class="div-wrapper"><div class="text-wrapper">{{price}}</div></div>
      <div class="div-wrapper">
        <mat-card class="calendar-card">
          <mat-calendar [dateClass]="dateClass()" [(selected)]="selected" (selectedChange)="displayPrice()"></mat-calendar>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="text-wrapper">Reviews</div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <app-review-card></app-review-card>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <app-review-card></app-review-card>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <app-review-card></app-review-card>
  <button id="fab" mat-fab color="warn" extended="" *ngIf="userType == 'Guest'"
          (click)="openReserveDialog('250ms', '250ms')">
    <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"/>
    Reserve
  </button>
</div>
