.frame {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 10px;
}

.frame .bookie-kawaii {
  position: relative;
  width: 170px;
  height: 147.83px;
}

.frame .div {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  flex: 1;
  align-self: stretch;
  display: flex;
  position: relative;
}

.frame .div-2 {
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font:1em"rubik";
  color: white;
}

.frame .div-3 {
  width: 142px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.frame .stars {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font:1em"rubik";
  color: white;
}

.frame .div-wrapper {
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  flex: 1;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
}

.frame .p {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font:1em"rubik";
  color: white;
  text-align: center;
}

.frame .div-4 {
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
}

.frame .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  width: 104px;
  margin-top: -1px;
  font:1em"rubik";
  color: white;
  text-align: center;

}

.frame .button {
  display: flex;
  flex-direction: column;
  background-color:#E8C502;
}

.frame .state-layer {
  display: flex;
  width: 83px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  position: relative;
}

.frame .label-text {
  position: relative;
  width: fit-content;
  margin-left: -20.5px;
  margin-right: -20.5px;
  font:1em"rubik";
  text-align: center;
  white-space: nowrap;
}
mat-icon{
  color: rgb(255, 210, 48);
}
