<div class="frame">
  <img class="bookie-kawaii" ngSrc="../../../assets/images/bookie-quirky.svg" alt="" height="196" width="232"/>
  <div class="div">
    <div class="div-name">
      <div class="text-wrapper" >{{accommodation_name}}</div>
      <div class="div-rating">
        <div class="stars">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
        <div class="text-wrapper">({{rating}})</div>
      </div>
    </div>
    <div class="div">
      <p class="text-wrapper">
        {{description}}
      </p>
    </div>
    <div class="div-bottom">
      <div class="text-wrapper">{{price}}</div>
      <button mat-raised-button class="button" color="primary" (click)="redirectDetails()">See details</button>
    </div>
  </div>
</div>
