.frame {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 10px;
  color: black;
  @media (prefers-color-scheme: dark){
    color: #FDF5EC;
  }
}

.frame .bookie-kawaii {
  position: relative;
  width: 170px;
  height: 147.83px;
}

.frame .div {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  flex: 1;
  align-self: stretch;
  display: flex;
  position: relative;
}

.frame .div-name {
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font:1em"rubik";
}

.frame .div-rating {
  width: 5vw;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.frame .stars {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}
.frame .div-bottom {
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
}
.frame .button {
  display: flex;
  flex-direction: column;
}
mat-icon{
  color: rgb(255, 210, 48);
}
.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}
