<div class="frame">
  <img class="bookie-kawaii" [src]="image" alt="Image" height="196" width="232"/>
  <div class="div">
    <div class="div-name">
      <div class="text-wrapper accommodationName">{{accommodation.name }}</div>
      <div class="div-rating">
        <div class="stars">
          <mat-icon *ngFor="let star of stars" class="star">{{ star }}</mat-icon>
        </div>
        <div class="text-wrapper"> ({{ averageGrade }}) </div>
      </div>
    </div>
    <div class="div">
      <p class="text-wrapper">
        {{accommodation.description}}
      </p>
    </div>
    <div class="div-bottom">
      <div class="text-wrapper">{{accommodation.minimumGuests}} to {{accommodation.maximumGuests}} people</div>
      <div class="buttonDiv">
        <button mat-raised-button class="button" color="primary" [routerLink]="['/details', accommodation?.id]">
          See details
        </button>
        <button mat-raised-button class="button" color="primary" [routerLink]="['/updating', accommodation?.id]" *ngIf="isOwnerScreen">Edit</button>
      </div>
    </div>
  </div>
</div>
