<div id="content-holder">
  <form [formGroup]="userTelephoneForm">
    <div id="form-holder">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Telephone</mat-label>
        <input matInput type="tel" name="telephone" formControlName="telephone" spellcheck="false">
        @if (!userTelephoneForm.get('telephone')?.valid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <div id="button-holder">
    <button id="confirm-button" mat-raised-button color="primary" (click)="updateUserTelephone()"
            [disabled]="!userTelephoneForm.valid">
      Confirm
    </button>
    <button id="cancel-button" mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>
<app-snack-bar />
