<div id="content-holder">
  <div class="reservation-cell">{{reservation?.accommodationNameDTO?.name}}</div>
  <mat-divider vertical />
  <div class="reservation-cell">{{reservation?.numberOfGuests}}</div>
  <mat-divider vertical />
  <div class="reservation-cell">
    {{
      reservation?.period?.startDate | date:'dd/MM/yyyy'
    }} - {{
      reservation?.period?.endDate | date:'dd/MM/yyyy'
    }}
  </div>
  <mat-divider vertical />
  <div class="reservation-cell">{{reservation?.price}}</div>
  <mat-divider vertical />
  <div class="reservation-cell">
    {{reservation?.reserveeBasicInfoDTO?.name}} {{reservation?.reserveeBasicInfoDTO?.surname}}
  </div>
  <mat-divider vertical />
  <div class="reservation-cell">{{numberOfCancelledReservations?.numberOfCancelledReservations}}</div>
  <mat-divider vertical />
  <div class="reservation-cell">{{reservation?.status}}</div>
  <mat-divider vertical />
  <div class="reservation-cell">
    <button class="reservation-button" mat-flat-button color="primary">Accept</button>
    <button class="reservation-button" mat-stroked-button color="primary">Decline</button>
  </div>
</div>
