.mainframe{
  margin-top: 20px;
  padding: 30px;
}
.search-form {
  min-width: 100px;
  max-width: 500px;
  width: 25vw;
}

.example-full-width {
  width: 100%;
}
.frame{
  height: 10%;
  min-height: 75px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}
button{
  font:1em"rubik";
}
mat-menu{
  width: 10vw;
}
.example-full-width mat-icon{
  color: black;
  @media (prefers-color-scheme: dark){
    color: #FDF5EC;
  }
}
.search-div{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.search-options{
  margin-left: 1vw;
  width: 15vw;
}


