.mainframe{
  margin-top: 20px;
  padding: 30px;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.frame{
  height: 10%;
  min-height: 75px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

button{
  margin-left: 25px;
  font:1em"rubik";
}
