
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Black and white
$bookie-black: #000000;
$bookie-white: #FFFFFF;

// Bookie light colours
$bookie-light-neutral: #FDF5EC;

$bookie-red-palette: (
  50: #ffeaed,
  100: #ffcbcf,
  200: #ee9795,
  300: #e36f6c,
  400: #eb4e47,
  500: #ef3d2b,
  600: #e1332b,
  700: #cf2825,
  800: #c2211e,
  900: #b31211,
  A100: #ee9795,
  A200: #e36f6c,
  A400: #e1332b,
  A700: #ef3d2b,
  contrast: (
    50: $bookie-black,
    100: $bookie-black,
    200: $bookie-black,
    300: $bookie-black,
    400: $bookie-light-neutral,
    500: $bookie-light-neutral,
    600: $bookie-light-neutral,
    700: $bookie-light-neutral,
    800: $bookie-light-neutral,
    900: $bookie-light-neutral,
    A100: $bookie-light-neutral,
    A200: $bookie-light-neutral,
    A400: $bookie-black,
    A700: $bookie-black,
  )
);

$bookie-orange-palette: (
  50: #fbe9e7,
  100: #ffccbc,
  200: #ffab91,
  300: #ff8a65,
  400: #ff6f43,
  500: #ff5622,
  600: #f5501e,
  700: #e74919,
  800: #d94215,
  900: #c0350c,
  A100: #ffab91,
  A200: #ff8a65,
  A400: #f5501e,
  A700: #ff5622,
  contrast: (
    50: $bookie-black,
    100: $bookie-black,
    200: $bookie-black,
    300: $bookie-black,
    400: $bookie-light-neutral,
    500: $bookie-light-neutral,
    600: $bookie-light-neutral,
    700: $bookie-light-neutral,
    800: $bookie-light-neutral,
    900: $bookie-light-neutral,
    A100: $bookie-light-neutral,
    A200: $bookie-light-neutral,
    A400: $bookie-black,
    A700: $bookie-black,
  )
);

$bookie-cyan-palette: (
  50: #daf0f3,
  100: #a4dae0,
  200: #67c2cc,
  300: #17a9b9,
  400: #009aac,
  500: #008ba0,
  600: #007d90,
  700: #006a78,
  800: #005762,
  900: #00373a,
  A100: #67c2cc,
  A200: #17a9b9,
  A400: #007d90,
  A700: #008ba0,
  contrast: (
    50: $bookie-black,
    100: $bookie-black,
    200: $bookie-black,
    300: $bookie-black,
    400: $bookie-light-neutral,
    500: $bookie-light-neutral,
    600: $bookie-light-neutral,
    700: $bookie-light-neutral,
    800: $bookie-light-neutral,
    900: $bookie-light-neutral,
    A100: $bookie-light-neutral,
    A200: $bookie-light-neutral,
    A400: $bookie-black,
    A700: $bookie-black,
  )
);

// Bookie dark colours
$bookie-dark-neutral: #171123;

$bookie-purple-palette: (
  50: #f2e4f2,
  100: #debce0,
  200: #c88fcd,
  300: #b264b9,
  400: #a243aa,
  500: #92249c,
  600: #852196,
  700: #731b8e,
  800: #631785,
  900: #461076,
  A100: #c88fcd,
  A200: #b264b9,
  A400: #b264b9,
  A700: #92249c,
  contrast: (
    50: $bookie-dark-neutral,
    100: $bookie-dark-neutral,
    200: $bookie-dark-neutral,
    300: $bookie-dark-neutral,
    400: $bookie-dark-neutral,
    500: $bookie-dark-neutral,
    600: $bookie-dark-neutral,
    700: $bookie-white,
    800: $bookie-white,
    900: $bookie-white,
    A100: $bookie-white,
    A200: $bookie-white,
    A400: $bookie-white,
    A700: $bookie-dark-neutral,
  )
);

$bookie-magenta-palette: (
  50: #fae3e9,
  100: #f3b8c9,
  200: #ea8ba5,
  300: #e25e83,
  400: #da3d6a,
  500: #d42052,
  600: #c41d50,
  700: #af1a4b,
  800: #9a1548,
  900: #761040,
  A100: #ea6ba5,
  A200: #e25e83,
  A400: #e25e83,
  A700: #d42052,
  contrast: (
    50: $bookie-dark-neutral,
    100: $bookie-dark-neutral,
    200: $bookie-dark-neutral,
    300: $bookie-dark-neutral,
    400: $bookie-dark-neutral,
    500: $bookie-dark-neutral,
    600: $bookie-dark-neutral,
    700: $bookie-white,
    800: $bookie-white,
    900: $bookie-white,
    A100: $bookie-white,
    A200: $bookie-white,
    A400: $bookie-white,
    A700: $bookie-dark-neutral,
  )
);

$bookie-yellow-palette: (
  50: #fcfae4,
  100: #f8f3bc,
  200: #f3ea90,
  300: #efe263,
  400: #ecdd3f,
  500: #e9d80b,
  600: #e8c502,
  700: #e7ae00,
  800: #e59600,
  900: #e26c00,
  A100: #f3ea90,
  A200: #efe263,
  A400: #e8c502,
  A700: #e9db0b,
  contrast: (
    50: $bookie-dark-neutral,
    100: $bookie-dark-neutral,
    200: $bookie-dark-neutral,
    300: $bookie-dark-neutral,
    400: $bookie-dark-neutral,
    500: $bookie-dark-neutral,
    600: $bookie-dark-neutral,
    700: $bookie-white,
    800: $bookie-white,
    900: $bookie-white,
    A100: $bookie-white,
    A200: $bookie-white,
    A400: $bookie-white,
    A700: $bookie-dark-neutral,
  )
);

// Bookie light theme palettes
$bookie-light-primary: mat.define-palette($bookie-red-palette, 800, 600, 900);
$bookie-light-accent: mat.define-palette($bookie-orange-palette, 700, 500, 900);
$bookie-light-warn: mat.define-palette($bookie-cyan-palette, 100, 50, 200);

// Bookie dark theme palettes
$bookie-dark-primary: mat.define-palette($bookie-purple-palette, 700, 500, 900);
$bookie-dark-accent: mat.define-palette($bookie-magenta-palette, 700, 500, 900);
$bookie-dark-warn: mat.define-palette($bookie-yellow-palette, 600, 500, 700);

// Bookie light theme
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bookie-light-theme: mat.define-light-theme((
  color: (
    primary: $bookie-light-primary,
    accent: $bookie-light-accent,
    warn: $bookie-light-warn,
  )
));

// Bookie dark theme
$bookie-dark-theme: mat.define-dark-theme((
  color: (
    primary: $bookie-dark-primary,
    accent: $bookie-dark-accent,
    warn: $bookie-dark-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bookie-light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($bookie-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
