<div id="content-holder">
  <form>
    <mat-stepper orientation="vertical" color="primary" linear="" #stepper>
      <mat-step label="Fill out the number of guests">
        <div class="step-holder">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Number of guests</mat-label>
              <input matInput required>
            </mat-form-field>
          <div class="button-holder">
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Pick the period of the reservation">
        <div class="step-holder">
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Pick the reservation period</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate disabled>
              <input matEndDate disabled>
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker" />
            <mat-date-range-picker #picker disabled="{{false}}"></mat-date-range-picker>
          </mat-form-field>
          <div class="button-holder">
            <button mat-raised-button matStepperNext color="primary">Next</button>
            <button mat-raised-button matStepperPrevious color="primary">Previous</button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Confirm your reservation">
        <div class="step-holder">
          Do you want to confirm your reservation?
          <div id="confirmation-holder" class="button-holder">
            <button mat-raised-button color="primary">Confirm</button>
            <button mat-raised-button (click)="stepper.reset()" color="primary">Reset input</button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
